.thumbnail {
    margin: 0;
}

.grid-sizer {
    width: 20%;
}

.grid-item {
    width: 20%;
    padding: .6%;
}

.grid {

}

img.bookimg {
    filter: brightness(100%);
    transition: .5s filter linear;
}

img.bookimg:hover {
    filter: brightness(88%);
}

@media (max-width: 600px){
    .grid-sizer {
        width: 50%;
    }
    .grid-item {
        width: 50%;
        padding: .6%;
    }
}