<div class="grid">
    <div class="grid-sizer"></div>
    <div class="grid-item hidden" ng-repeat="item in pint.items">
        <div class="thumbnail">
            <a href="" ng-click="pint.open(item, $event)">
                <img class="bookimg" ng-src="{{ item.url }}" />
            </a>
            <div class="hidden-xs caption">
                <h4>{{ item.title }}</h4>
                <div ng-if="pint.state === 'main'">
                    <h4 ng-if="item._owner._id !== pint.currentUserId"><small>Posted By: {{ item._owner.name }}</small></h4>
                    <h4 ng-if="item._owner._id === pint.currentUserId"><small>You Posted This</small></h4>
                </div>
            </div>            
        </div>
    </div>
    
</div>