<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">imgwr</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
<!--        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>-->
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" >
          <a href="" ng-click="loginOauth('twitter')">
            <i class="fa fa-twitter"></i></i> Connect with Twitter
          </a>
        </li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="imgwrNew()"><i class="fa fa-plus"></i> Add</a></li>
        <li ng-show="isLoggedIn()" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
               {{ getCurrentUser().username }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-show="isLoggedIn()" ng-class=""><a ui-sref="main.account({username: getCurrentUser().username})"><i class="fa fa-list"></i> my wall</a></li>
            <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i> logout</a></li>
          </ul>
        </li>
        <li ng-show="isLoggedIn()" class="hidden-xs">
          <img ng-src="{{getCurrentUser().avatar}}" class="img-circle img-responsive"/>
        </li>
      </ul>

    </div>
  </div>
</div>
